{% extends "base.html" %}
{% block title %}
    Error
{% endblock title %}
{% block content %}
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">403</span>
                    <div class="mb-4 lead">Resource Not Found.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
