<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>

{#Nav Bar#}
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #F1B24A;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mr-4" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-4" href="{{ url_for('about') }}">About</a>
            </li>
            {% if current_user.username == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link mr-4" href="{{ url_for('management') }}"> Book Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-4" href="{{ url_for('add_book') }}">Add Book</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <form class="form-inline">
        {% if current_user.is_authenticated %}
            <h4><span class="badge badge-pill badge-info">{{ current_user.username }}</span></h4>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-outline-success my-2 my-sm-1" type="submit" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a class="btn btn-outline-success my-2 my-sm-1 mr-1" type="submit" href="{{ url_for('login') }}">Login</button>
            <a class="btn btn-outline-success my-2 my-sm-1" type="submit"  href="{{ url_for('register') }}">Sign Up</a>
        {% endif %}
    </form>
</nav>
{#Nav Bar#}

{#Content#}
<div class="container">
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
</div>
{#Content#}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>