{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}
    <br><br><br><br>
    <div class="content-section">
        <form class="col-12" method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-row">
                {{ form.keyword(class="form-control col-sm-10", placeholder="Search Book/ASIN") }}
                {{ form.type(class="selectpicker") }}
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
    <br><br><br><br><br>
    <div class="container">
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    <div class="container">
                        <div class="book-image">
                            <img alt="Book Image"
                                 src="http://ecx.images-amazon.com/images/I/51eWyBr8A3L._BO2,204,203,200_PIsitb-sticker-v3-big,TopRight,0,-55_SX278_SY278_PIkin4,BottomRight,1,22_AA300_SH20_OU01_.jpg">
                            <div class="book-description">
                                <strong>Mobility IGO AUTOPOWER 3000 SERIES ( PS0221-10 )</strong>
                            </div>
                            <div class="asin">
                                <strong>ASIN: B0002IQ15S</strong>
                            </div>
                            <div class="book-price">
                                <i>Price: 19.99</i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
