{% extends 'base.html' %}
{% block title %}
    Book Management Page
{% endblock title %}
{% block content %}
    <br><br>
    <form class="col-12" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-row">
            {{ form.keyword(class="form-control col-sm-10 ml-5", placeholder="Search Book/ASIN") }}
            {{ form.type(class="btn btn-info dropdown-toggle") }}
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    {{ form.submit(class="btn btn-outline-secondary rounded-circle mr-1") }}
                </div>
            </div>
        </div>
    </form>
    <br><br>
    <div id="check"></div>
    <h1 style="color:#2E86C1">Book Management</h1>
    <div class="container">
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    <div class="container">
                        <div class="book-image">
                            <a href="{{ url_for('edit_book', asin=book.asin) }}">
                                <img alt="Book Image"
                                     src={{ book.imUrl }}></a>
                            <div class="book-description">
                                <div style="height:75px; overflow-y: scroll; margin: 5px;">
                                    <strong>{{ book.description }}</strong>
                                </div>
                                >
                            </div>
                            <div class="asin">
                                <strong>{{ book.asin }}</strong>
                            </div>
                            <div class="book-price">
                                <i>{{ book.price }}</i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="width:100%; overflow-x: scroll; ">
            {% for pg_no in page_numbers %}
                <a class="btn btn-outline-info mb-4"
                   href="{{ url_for('management', page_size=page_size, page_num=pg_no) }}">{{ pg_no }}</a>
            {% endfor %}
            <li class="page-item">
        </ul>
    </nav>
{% endblock content %}