{% extends 'base.html' %}
{% block title %}
    Reviews
{% endblock %}
{% block content %}
    <div class="container">
        <legend class="border-bottom mb-4">Reviews</legend>
        <a href="{{ url_for('add_review', asin=bookmeta.asin) }}">
            <button type="button" class="btn btn-info btn-lg btn-block">Add Review</button>
        </a>
        <br class="row">
        <div class="metadata">
            <img alt="Book Image"
                 src= {{ bookmeta.imUrl }}>
            <br>
            <div class="title">
                <strong>Title: {{ bookmeta.title }}</strong>
            </div>
            <br>
            <div class="ASIN">
                <strong>ASIN: {{ bookmeta.asin }}</strong>
            </div>
            <br>
            <div class="categories">
                <strong>Categories: {{ bookmeta.categories }}</strong>
            </div>
            <br>
            <div class="description">
                <strong>Description:
                    <p>{{ bookmeta.description }}</p>
                </strong>
            </div>
            <br>
            <div class="price">
                <i>Price: {{ bookmeta.price }}</i>
            </div>
            <br>
            <div class="related">
                <strong>Also Viewed:
                    <div class="row">
                        {% for asin in bookmeta.related.also_viewed %}
                            <div class="col-md-2">
                                <a href="{{ url_for('reviews', asin=asin) }}">
                                    {{ asin }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </strong>
            </div>
            <br>
            <div class="buy after viewing">
                <strong>Buy After Viewing:
                    <div class="row">
                        {% for asin in bookmeta.related.buy_after_viewing %}
                            <div class="col-md-2">
                                <a href="{{ url_for('reviews', asin=asin) }}">
                                    {{ asin }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </strong>
            </div>
            <br>
            <div class="reviews">
                <strong>Reviews:</strong>
                {% for i in reviews %}
                    <div class="container">
                        <div class="Reviewer Name">
                            <strong>Reviewer: {{ i.reviewer_name }}</strong>
                        </div>
                        <div class="summary">
                            <strong>Summary: {{ i.summary }}</strong>
                        </div>
                        <div class="Rating">
                            <strong>Score: {{ i.overall }}/5</strong>
                        </div>
                        <div class="Review Time">
                            <strong>Time of Review: {{ i.review_time }}</strong>
                        </div>
                        <div class="helpful">
                            <strong>[Helpful, Total]: {{ i.helpful }}</strong>
                        </div>
                        <div class="Review Text">
                            <p>Review: {{ i.review_text }}</p>
                        </div>
                        <hr>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
