{% extends 'base.html' %}
{% block title %}
    Reviews
{% endblock %}

{% block content %}
<br>
    <div class="container">
        <legend class="border-bottom mb-4">Book Details</legend>
<!--        <a href="{{ url_for('add_review', asin=bookmeta.asin) }}">-->
<!--            <button type="button" class="btn btn-info btn-lg btn-block">Add Review</button>-->
<!--        </a>-->
        <br class="row">
        <div class="metadata">
            <img alt="Book Image"
                 src= {{ bookmeta.imUrl }}>
            <br>
            <div class="title">
                <strong>Title:</strong>
                <p>{{ bookmeta.title }}</p>
            </div>
            <br>
            <div class="ASIN">
                <strong>ASIN:</strong>
                <p>{{ bookmeta.asin }}</p>
            </div>
            <br>
            <div class="categories">
                <strong>Categories:</strong>
                <p>{{ bookmeta.categories }}</p>
            </div>
            <br>
            <div class="description">
                <strong>Description:</strong>
                    <p>{{ bookmeta.description }}</p>
                </strong>
            </div>
            <br>
            <div class="price">
                <strong>Price:</strong>
                <p>{{ bookmeta.price }}</p>
            </div>
            <br>
            <div class="related">
                <strong>Customers who viewed this item also viewed:
                    <div class="row">
                        {% for asin in bookmeta.related.also_viewed %}
                            <div class="col-md-2">
                                <a href="{{ url_for('reviews', asin=asin) }}">
                                    {{ asin }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </strong>
            </div>
            <br>
            <div class="buy after viewing">
                <strong>Customers who bought this item also bought:
                    <div class="row">
                        {% for asin in bookmeta.related.buy_after_viewing %}
                            <div class="col-md-2">
                                <a href="{{ url_for('reviews', asin=asin) }}">
                                    {{ asin }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </strong>
            </div>
            <br>
            <div class="reviews">
                <strong>Reviews:</strong>
                {% for i in reviews %}
                    <div class="container">
                        <div class="Reviewer Name">
                            <strong>Reviewer:</strong>
                            <p>{{ i.reviewer_name }}</p>
                        </div>
                        <div class="summary">
                            <strong>Summary:</strong>
                            <p>{{ i.summary }}</p>
                        </div>
                        <div class="Rating">
                            <strong>Score:</strong>
                            <p>{{ i.overall }}/5</p>
                        </div>
                        <div class="Review Time">
                            <strong>Time of Review:</strong>
                            <p>{{ i.review_time }}</p>
                        </div>
                        <div class="helpful">
                            <strong>[Helpful, Total]: </strong>
                            <p>{{ i.helpful }}</p>
                        </div>
                        <div class="Review Text">
                            <strong>Review:</strong>
                            <p>{{ i.review_text }}</p>
                        </div>
                        <hr>
                    </div>
                    <br>
                {% endfor %}
                 <a href="{{ url_for('add_review', asin=bookmeta.asin) }}">
            <button type="button" class="btn btn-info btn-lg btn-block">Add Review</button>
        </a>
            </div>
        </div>
    </div>

{% endblock %}